
<%- layout("layouts/boilerplate")%>

<div class="container">
    <div class="row justify-content-center mt-5" >
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <form action="/listings/<%=data._id%>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=data.title%>" id="title" required class="form-control">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea name="listing[description]"   id="description" rows="3" cols="3" class="form-control" required><%=data.description%></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a description.</div>
                </div>

                <div class="mb-3">
                    <p>Original Listing Image</p>
                    <img src="<%= originalImageUrl%>">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" id="image" name="listing[image]"  class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">price</label>
                    <input type="number" id="price" name="listing[price]" value="<%=data.price%>" required class="form-control">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a price.</div>
                </div>

                <div class="row gx-0">
                    <div class="mb-3 col-12 col-sm-12 col-md-6">
                        <label for="country" class="form-label">country</label>
                        <input type="text" id="country" name="listing[country]" value="<%=data.country%>" required class="form-control">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a country.</div>
                    </div>
                    <div class="mb-3 col-12 col-sm-12 col-md-6">
                        <label for="location" class="form-label">location</label>
                        <input type="text" id="location" name="listing[location]" value="<%=data.location%>" required class="form-control">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a location.</div>
                    </div>
                </div>
                    <div class="d-grid">
                        <button class="btn btn-dark mb-5 add-btn">Submit</button>
                    </div>
            </form>
        </div>
    </div>



</div>

   